<div class="select-div">
    <select [(ngModel)]="thisYear" (change)="changeYear($event)" (change)="changeDate(thisYear,thisMonth,1)">
        <option *ngFor="let y of years" value={{y}}>
            {{gematriya(y)}}
        </option>
    </select>
    <select [(ngModel)]="thisMonth" (change)="changeDate(thisYear,thisMonth,1)">
        <option *ngFor="let mon of month" value={{mon.en}}>
            {{mon.he}}
        </option>
    </select>
</div>

<div style="display: flex; align-items: center; justify-content: center;">
    <button class="btn-sm btn-primary" (click)="nextMonth()"><i class="bi bi-arrow-left"></i></button>
    <button class="btn-sm btn-primary" (click)="lastMonth()"><i class="bi bi-arrow-right"></i></button>
</div>

<div class="bourd">
    <div class="daysOfweek" *ngFor="let day of days">{{day}}</div>
    <div class="days" *ngFor="let day of allDaysInMonth" [ngClass]="{'this-month':day.getMonthName()==thisMonth}">
        {{gematriya(day.getDate())}}</div>
</div>